* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;  
    background-color: #D5E4E4;
    color: #191B26; 
}

.container {
    background-color: #fff;
    height: 500px;
    width: 900px;        
    margin-top: 50px;
    box-shadow: -5px 20px 20px 1px rgba(167, 209, 209,1);
    border-radius: 10px;
}

.card {
    display: flex;    
}

.header-image img{    
    height: 500px;
    width: 300px;     
    object-fit: cover;
    border-top-left-radius: 10px;      
    border-bottom-left-radius: 10px;
}

.card .description {
    padding: 80px 50px;
}

h1 {
    font-size: 34px;
    font-weight: bold;
    word-spacing: 5px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;    
    line-height: 1.5em;    
}

.box { 
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;          
    margin: 50px 0px;     
}

.button {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;  
    height: 55px;
    width: 235px; 
    text-align: left;
    outline: none;
    cursor: pointer;
    margin: 10px 15px 5px 0px;
    padding-left: 10px;    
}

.button:after {
    content: "\f105";
    background-color: rgba(210, 227, 227, .5);    
    color: #1EBCB5;
    border: 1px solid rgba(30, 188, 181, .2);    
    float: right;
    border-radius: 50%;    
    padding: 2px 9px;
    font-size: 1.5em;
    margin-right: 7px;
}

.button a {
    text-decoration: none;
    color: #191B26; 
    font-size: 16px;
    font-weight: bold;
    line-height: 30px;  
}

button:last-child {
    background: linear-gradient(130deg, #1ebcb5, #056d6e);         
}

.green a {
    color: #fff;
    font-weight: normal;
}

.green:after {
    background-color: rgba(255, 255, 255, .09);
    border: 1px solid rgba(255, 255, 255, .3) ;
    color: #fff;
}